
{%extends 'portfolio/base.html'%}
{% load static %}
{%block content%}
    <h1 id="blogtitle" class="font-weight-bold text-center">Hi</h1>
    <h2 class="text-center mb-5">Ben has written {{every_blog.count}} blog{{blogs.count|pluralize}}</h2>
    {% for blog in blogs %}
    <div class="row justify-content-center my-3">
      <div class="col-md-10">
        <a href="{% url 'blog:detail' blog.id %}">
          <h2>{{ blog.title }}</h2>
        </a>
        <h5 class="text-muted">{{ blog.date|date:'M d Y'|upper }}</h5>
        <h4>{{ blog.text|striptags|truncatechars:100 }}</h4>
      </div>
    </div>
    {% endfor %}
    
    {% endblock %}